.customBtn {
  color: black;
  background-color: limegreen;
  border: 1px solid black;
}


.sortBtn {
  color: black;
  background-color: whitesmoke;
  border: 1px solid lightslategray;
}


.pageBtn {
  color: black;
  background-color: whitesmoke;
  border: 1px solid lightgray;
  margin: 5px;
}


.addBtn {
  color: whitesmoke;
  background-color: green;
  border: none;
}


.updBtn {
  color: whitesmoke;
  background-color: deepskyblue;
  border: none;
  margin: 5px;
}


.delBtn {
  color: whitesmoke;
  background-color: red;
  border: none;
  margin: 5px;
}



