#container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 0%;
  margin-left: 15px;
  width: 25%;
}

input[type=text], input[type=password] {
  width: 65%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4d4dff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 15%;
}

input[type=submit]:hover {
  background-color: #6666ff;
}

input[type=date] {
  width: 45%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  display: inline;
}

#backbtn {
  background-color: #4d4dff;
  color: white;
  border: 2px solid #dddddd;
  padding: 3px;
  margin-left: 2%;
  font-size: medium;
  text-decoration: none;
}

#backbtn:hover {
  background-color: #6666ff;
}
