<div class="topnav">
  <a class="link" href="javascript:void(0)" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>

  <a class="link" href="javascript:void(0)" [routerLink]="['/profilo']" [routerLinkActive]="['active']">Profilo</a>

  <a class="link" href="javascript:void(0)" [routerLink]="['/users']" [routerLinkActive]="['active']">Utenti</a>

  <a class="link" href="javascript:void(0)" [routerLink]="['/cars']" [routerLinkActive]="['active']">Auto</a>

  <a class="link" href="javascript:void(0)" [routerLink]="['/prens']" [routerLinkActive]="['active']">Prenotazioni</a>

  <a style="margin-left: 65%;" class="link" href="javascript:void(0)" [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
</div>


<router-outlet></router-outlet>
